/* Fonts:
https://fonts.google.com/specimen/Pacifico?selection.family=Pacifico

Colors: 
#EAEAEA - off-white
*/


/* Add when scroll to right styling for inputs are made. */
/* html {
    overflow: hidden;
} */

/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: tomato;
    color: white;
}

/* Nav */
nav.navbar {
    width: 100%;
    height: 45px;
    background-color: white;
    position: fixed;
    top: 0;
}

nav .navbar-text {
    font-family: 'Pacifico', cursive;
    font-size: 21px;
    color: tomato;
    margin: 0 auto;
} 

/* Form */
.parentAndText {
    position: relative;
}

.andText {
    text-align: center;
    position: absolute;
    left: 22.5%;
    top: 15%;
}

.submit {
    margin: 0 auto;
    text-align: center;
}

.has-content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

small.form-text.text-muted {
    color: rgba(0, 0, 0, .65)!important;
}

/* Results */
.container {
    text-align: center;
    height: 90vh;
    margin-top: 75px;
}

.container ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

h1.menuTitle, h3.menuTitle, .fancy {
    font-family: 'Pacifico', cursive;
}

.row ul {
    display: block;
    padding: 0;
    margin-left: 26px;
}

/* Fix classes */
.border { 
    border: 1px solid black;
}

.container.menu {
    width: 40%;
}

.recipesContainer {
    width: 80%;
    margin: 0 auto;
}

.menu hr, .recipesContainer hr {
    background-color: white;
}

.containerButton {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
